.container {
	height: 500px;
	width: 500px;
	background-color: lightgrey;
	margin: 100px auto;
	font-size: 0;
	-moz-box-shadow: 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #000000;
    box-shadow: 0px 0px 10px #000000;
}

.container div {
	display: inline-block;
	font-size: 10px;
	 outline: gray solid;
}

.buttonOut {
	margin-top: 20px;
	text-align: center;
	
}

#buttonIn {
	background-color: lightBlue; /* Green */
    border: solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
}